## Function

In [1]:
def greet(name):
    print("Hi " + name)
    print("Nice to see you again!")
    print("Enjoy our video!")

print("Program starts")
greet("Peter")         
# some lines of codes
the_answer = 42 
greet("Sarah")      
width, length = 3, 4
area = width * length
greet("Dominque")

Program starts
Hi Peter
Nice to see you again!
Enjoy our video!
Hi Sarah
Nice to see you again!
Enjoy our video!
Hi Dominque
Nice to see you again!
Enjoy our video!

In [2]:
def f(x, y):
    z = 2 * (x + y)
    print(id(x))
    print(id(y))
    print(id(z))
    return z

print("Program starts!")
a = 3
res1 = f(a, 2+a)
print("Result of function call:", res1)
print(f"{id(a)}, {id(a+2)}")
a = 4
b = 7
res2 = f(a, b)
print("Result of function call:", res2)
print(f"{id(a)}, {id(b)}")

Program starts!
140185048377712
140185048377776
140185048378128
Result of function call: 16
140185048377712, 140185048377776
140185048377744
140185048377840
140185048378320
Result of function call: 22
140185048377744, 140185048377840

```python
def function-name(Parameter list):
    statements, i.e. the function body
```
Parameters are called arguments, if the function is called.

In [3]:
def fahrenheit(T_in_celsius):
    """ returns the temperature in degrees Fahrenheit """
    return (T_in_celsius * 9 / 5) + 32
for t in (22.6, 25.8, 27.3, 29.8):
    print(t, ": ", fahrenheit(t))
help(fahrenheit)

22.6 :  72.68
25.8 :  78.44
27.3 :  81.14
29.8 :  85.64
Help on function fahrenheit in module __main__:

fahrenheit(T_in_celsius)
    returns the temperature in degrees Fahrenheit

In [4]:
def hello(name="everybody"):
    """ Greets a person """
    result = "Hello " + name + "!"
    return result

hello("Peter"), hello()

('Hello Peter!', 'Hello everybody!')

Default values are created exactly once, when the function is defined, i.e. at compile-time.

In [5]:
def spammer(bag=[]):
    print(f"Before assignment: {id(bag)}")
    bag.append("spam")
    print(f"After assignment: {id(bag)}")
    return bag
print("spammer.__defaults__", spammer.__defaults__)

for i in range(5):
    print(spammer())    
print("spammer.__defaults__", spammer.__defaults__)

spammer.__defaults__ ([],)
Before assignment: 140183707372416
After assignment: 140183707372416
['spam']
Before assignment: 140183707372416
After assignment: 140183707372416
['spam', 'spam']
Before assignment: 140183707372416
After assignment: 140183707372416
['spam', 'spam', 'spam']
Before assignment: 140183707372416
After assignment: 140183707372416
['spam', 'spam', 'spam', 'spam']
Before assignment: 140183707372416
After assignment: 140183707372416
['spam', 'spam', 'spam', 'spam', 'spam']
spammer.__defaults__ (['spam', 'spam', 'spam', 'spam', 'spam'],)

In [6]:
def spammer(bag=None):
    print(f"Before assignment: {id(bag)} which is None postion")
    if bag is None:
        bag = []
    bag.append("spam")
    print(f"After assignment: {id(bag)}")
    return bag

for i in range(5):
    print(spammer())
    
print("spammer.__defaults__", spammer.__defaults__)

Before assignment: 4335455200 which is None postion
After assignment: 140183707382336
['spam']
Before assignment: 4335455200 which is None postion
After assignment: 140183707382336
['spam']
Before assignment: 4335455200 which is None postion
After assignment: 140183707382336
['spam']
Before assignment: 4335455200 which is None postion
After assignment: 140183707382336
['spam']
Before assignment: 4335455200 which is None postion
After assignment: 140183707382336
['spam']
spammer.__defaults__ (None,)

In [7]:
def arithmetic_mean(first, *values):
    """ This function calculates the arithmetic mean of a non-empty
        arbitrary number of numerical values """

    return (first + sum(values)) / (1 + len(values))
print("arithmetic_mean.__defaults__", arithmetic_mean.__defaults__)
print(arithmetic_mean(45,32,89,78))
print(arithmetic_mean(8989.8,78787.78,3453,78778.73))
print(arithmetic_mean(45,32))
print(arithmetic_mean(45))

arithmetic_mean.__defaults__ None
61.0
42502.3275
38.5
45.0

In [8]:
def f(**kwargs):
    print(type(kwargs))
    print(kwargs['de'])
    print(kwargs)
f(de="German",en="English",fr="French")

<class 'dict'>
German
{'de': 'German', 'en': 'English', 'fr': 'French'}

In [9]:
def f(a, b, x, y):
    print(a, b, x, y)
d = {'a':'append', 'b':'block','x':'extract','y':'yes'}
f(**d)

append block extract yes

In [10]:
def no_side_effects(cities):
    print(cities)
    cities = cities + ["Birmingham", "Bradford"]
    print(cities)
locations = ["London", "Leeds", "Glasgow", "Sheffield"]
no_side_effects(locations)
print(locations)

['London', 'Leeds', 'Glasgow', 'Sheffield']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']
['London', 'Leeds', 'Glasgow', 'Sheffield']

In [11]:
def side_effects(cities):
    print(cities)
    cities += ["Birmingham", "Bradford"]
    print(cities)
 
locations = ["London", "Leeds", "Glasgow", "Sheffield"]
side_effects(locations)
print(locations)

['London', 'Leeds', 'Glasgow', 'Sheffield']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']
['London', 'Leeds', 'Glasgow', 'Sheffield', 'Birmingham', 'Bradford']

In [12]:
def side_effects(cities):
    print(cities)
    cities += ["Paris", "Marseille"]
    print(cities)
 
locations = ["Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg"]
side_effects(locations[:])
print(locations)
id(locations), id(locations[:])

['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']
['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Paris', 'Marseille']
['Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg']

(140184516758912, 140183707370560)

In [13]:
def locations(city, *other_cities):
    print(type(other_cities))
    print(city, other_cities)
locations("Paris")
locations("Paris", "Strasbourg", "Lyon", "Dijon", "Bordeaux", "Marseille")

<class 'tuple'>
Paris ()
<class 'tuple'>
Paris ('Strasbourg', 'Lyon', 'Dijon', 'Bordeaux', 'Marseille')

In [14]:
def f(x,y,z):
    print(x,y,z)
p = (47,11,12)
f(*p)

47 11 12

In [15]:
def f(**args):
    print(args['de'])
    print(args)
f(de="German",en="English",fr="French")

German
{'de': 'German', 'en': 'English', 'fr': 'French'}

In [16]:
def f(a,b,x,y):
    print(a,b,x,y)

d = {'a':'append', 'b':'block','x':'extract','y':'yes'}
f(**d)

append block extract yes

In [17]:
t = (47,11)
d = {'x':'extract','y':'yes'}
f(*t, **d)

47 11 extract yes

```python
def arithmetic_mean(*l):
    """ The function calculates the arithmetic mean of a non-empty
        arbitrary number of numbers """
    for i in l:
        sum += i

    return sum / (1.0 + len(l))
arithmetic_mean()
```
compile error

In [18]:
def arithmetic_mean(x, *l):
    """ The function calculates the arithmetic mean of a non-empty
        arbitrary number of numbers """
    sum = x
    for i in l:
        sum += i

    return sum / (1.0 + len(l))
arithmetic_mean(1,2,3,4,5,6,7)

4.0

In [19]:
l = [1,2,3,5,6,7]
arithmetic_mean(*l)

4.0

## Module Programming

In [20]:
import math

In [21]:
math.pi, math.sin(math.pi/2), math.cos(math.pi/2)

(3.141592653589793, 1.0, 6.123233995736766e-17)

In [22]:
from math import *
sin(3.01) + tan(cos(2.1)) + e

2.2968833711382604

In [23]:
import fibonacci
fibonacci.fib(7)

13

In [24]:
fib = fibonacci.ifib
fib(100)

354224848179261915075

In [25]:
import one_time

The module is imported now!

In [26]:
x=[0,9,8]
y=[0,9,8]
id(x), id(y)

(140183707083776, 140183707074816)

In [27]:
x="lolo"
y="lolo"
id(x), id(y)

(140183706317360, 140183706317360)

In [28]:
x=90.9
y=90.9
id(x), id(y)

(140183706966160, 140183706966576)

In [29]:
x=90
y=90
id(x), id(y)

(140185048568976, 140185048568976)

In [35]:
from fibonacci import fib, ifib
ifib(500)

139423224561697880139724382870407283950070256587697307264108962948325571622863290691557658876222521294125

In [36]:
from math import pi,pow as power, sin as sinus
power(2,3)

8.0

In [40]:
import sys
print(sys.builtin_module_names)

('_abc', '_ast', '_codecs', '_collections', '_functools', '_imp', '_io', '_locale', '_operator', '_peg_parser', '_signal', '_sre', '_stat', '_string', '_symtable', '_thread', '_tracemalloc', '_warnings', '_weakref', 'atexit', 'builtins', 'errno', 'faulthandler', 'gc', 'itertools', 'marshal', 'posix', 'pwd', 'sys', 'time', 'xxsubtype')

In [45]:
dir(one_time)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

## Pandas DataFrame

In [30]:
import pandas as pd

In [31]:
stock = pd.Series({
    'apple': 10,
    'orange': 3,
    'banana': 22,
    'cucumber': 1,
    'potato': 110
})
price = pd.Series({
    'apple': 10.2,
    'orange': 3.9,
    'banana': 2.19,
    'cucumber': 76.2,
    'potato': 10.99
})
quality = pd.Series({
    'apple': 'good',
    'orange': 'bad',
    'banana': 'average',
    'cucumber': 'nice',
    'potato': 'perfect'
})
shop = pd.DataFrame({'stock': stock, 'price': price, 'quality': quality})
shop

          stock  price  quality
apple        10  10.20     good
orange        3   3.90      bad
banana       22   2.19  average
cucumber      1  76.20     nice
potato      110  10.99  perfect

In [32]:
shop.index, shop.columns

(Index(['apple', 'orange', 'banana', 'cucumber', 'potato'], dtype='object'),
 Index(['stock', 'price', 'quality'], dtype='object'))

In [33]:
print(shop.loc['orange':'potato'])
print(shop.iloc[1:])

          stock  price  quality
orange        3   3.90      bad
banana       22   2.19  average
cucumber      1  76.20     nice
potato      110  10.99  perfect
          stock  price  quality
orange        3   3.90      bad
banana       22   2.19  average
cucumber      1  76.20     nice
potato      110  10.99  perfect

In [34]:
shop['orange':'potato']

          stock  price  quality
orange        3   3.90      bad
banana       22   2.19  average
cucumber      1  76.20     nice
potato      110  10.99  perfect